REACT_APP_API_BASE_URL = '${REACT_APP_API_BASE_URL}'
# REACT_APP_API_BASE_URL = 'http://localhost/recognitionApi/backend/public/api/'

REACT_APP_ASSETS = '${REACT_APP_ASSETS}'
# REACT_APP_ASSETS = '/_assets/'

REACT_APP_USER_DOCUMENT = '${REACT_APP_USER_DOCUMENT}'
# REACT_APP_USER_DOCUMENT = 'https://thrive-frontend-dev.s3-eu-west-1.amazonaws.com/learn/'

REACT_APP_CLIENT_ID = '${REACT_APP_CLIENT_ID}'
#REACT_APP_CLIENT_ID = '5ed7aec7-1c9b-4c54-8eae-f183a1589891'

REACT_APP_TENANT_ID = '${REACT_APP_TENANT_ID}'
#REACT_APP_TENANT_ID = '8b86a65e-3c3a-4406-8ac3-19a6b5cc52bc'

REACT_APP_EXP_SESSION = '${REACT_APP_EXP_SESSION}'
#REACT_APP_EXP_SESSION = 1

REACT_APP_ROOT_LEARN = '${REACT_APP_ROOT_LEARN}'
#REACT_APP_ROOT_LEARN = ''

REACT_APP_GRAPH_ROUTE = '${REACT_APP_GRAPH_ROUTE}'
#REACT_APP_GRAPH_ROUTE = 'https://graph.microsoft.com'

REACT_APP_AZURE_WINDOW_LOG = 2
# REACT_APP_AZURE_WINDOW_LOG  = 2
# test push