VITE_API_BASE_URL = '${VITE_API_BASE_URL}'
# VITE_API_BASE_URL = 'http://localhost/recognitionApi/backend/public/api/'

VITE_ASSETS = '${VITE_ASSETS}'
# VITE_ASSETS = '/_assets/'

VITE_USER_DOCUMENT = '${VITE_USER_DOCUMENT}'
# VITE_USER_DOCUMENT = 'https://thrive-frontend-dev.s3-eu-west-1.amazonaws.com/listen/'

VITE_CLIENT_ID = '${VITE_CLIENT_ID}'
#VITE_CLIENT_ID = '5ed7aec7-1c9b-4c54-8eae-f183a1589891'

VITE_TENANT_ID = '${VITE_TENANT_ID}'
#VITE_TENANT_ID = '8b86a65e-3c3a-4406-8ac3-19a6b5cc52bc'

VITE_SECRET_ID = '${VITE_SECRET_ID}'
#VITE_SECRET_ID = '2Mf5iw~-6uAd3V0~Bn_DkTIWfNg8p4HD~.'

VITE_EXP_SESSION = '${VITE_EXP_SESSION}'
#VITE_EXP_SESSION = 1

VITE_ROOT_TIMETOLISTEN = '${VITE_ROOT_TIMETOLISTEN}'
#VITE_ROOT_TIMETOLISTEN = ''

VITE_GRAPH_ROUTE = '${VITE_GRAPH_ROUTE}'
#VITE_GRAPH_ROUTE = 'https://graph.microsoft.com'

VITE_AZURE_WINDOW_LOG = 2
# VITE_AZURE_WINDOW_LOG = 2

# VITE_RECOGNITION_URL = '${VITE_RECOGNITION_URL}'
VITE_RECOGNITION_URL = 'https://recognition.dev-culture.pmicloud.biz'
