# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
.vs/
.vscode/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Content yang besar dikelola via Git LFS (setup terpisah)
# *.uasset filter=lfs
# *.umap filter=lfs
