@font-face {
  font-family: "Alata";
  src: url("../fonts/Alata/Alata-Regular.woff") format("woff2"),
    url("../fonts/Alata/Alata-Regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.woff") format("woff2"),
    url("../fonts/Lato/Lato-Regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham/Gotham-Book.woff2") format("woff2"),
    url("../fonts/Gotham/Gotham-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: Lato;
  color: #67797d;
  background-color: #f2f8f7;
  scroll-behavior: smooth;

  &.with-bg {
    background-attachment: fixed;
    background-image: url(../images/bg-exam.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

button {
  outline: none !important;
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

a {
  color: #00594c;
  font-family: Alata;
  &.no-decor {
    text-decoration: none !important;
  }
}

section:not(.section-headline) {
  padding: 56px 0;
}

section {
  position: relative;
}

img {
  max-width: 100%;
}

.container {
  position: relative;
}

.section {
  &__title {
    font-size: 36px;
    color: #3d4665;
    font-family: Alata;
    margin-bottom: 16px;
    span {
      color: #40c1ac;
    }
    &--bigger {
      font-size: 48px;
      line-height: 56px;
    }
  }
  &__desc {
    margin-bottom: 24px;
    max-width: 634px;
    font-size: 14px;

    &--bigger {
      font-size: 16px;
      line-height: 24px;
    }
  }
  &--lighter {
    background-color: white;

    &.start-lighter {
      &::before {
        content: "";
        bottom: 100%;
        height: 300px;
        width: 100%;
        position: absolute;
        z-index: -1;
        background: rgb(255, 255, 255);
        background: -o-linear-gradient(
          bottom,
          rgba(255, 255, 255, 1) 0%,
          rgba(242, 248, 247, 1) 100%
        );
        background: -webkit-gradient(
          linear,
          left bottom,
          left top,
          from(rgba(255, 255, 255, 1)),
          to(rgba(242, 248, 247, 1))
        );
        background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 1) 0%,
          rgba(242, 248, 247, 1) 100%
        );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#f2f8f7",GradientType=1);
      }
    }
  }
}

.btn {
  height: 56px;
  padding: 16px 32px;
  font-size: 14px;
  line-height: 24px;
  border-radius: 56px;
  color: #00594c;
  display: block;
  font-family: Alata;

  &--fill {
    background-color: white;
    border: none;
    &:hover,
    &-active {
      background-color: #00594c;
      color: white;
      border: none;
    }
  }

  &--disabled {
    background-color: #e1e7e6 !important;
    color: #67797d;
    border-color: transparent !important;
    cursor: not-allowed;

    &:hover {
      color: #67797d !important;
    }
  }

  &--outline {
    background-color: transparent;
    border: 1px solid #00594c;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    display: inline-block;

    &:hover {
      background-color: #00594c;
      color: white;
      img {
        -webkit-filter: brightness(0) grayscale(1) invert(1);
        filter: brightness(0) grayscale(1) invert(1);
      }
    }
  }

  &.btn-icon-right {
    text-align: left;
    img {
      display: block;
      float: right;
      width: 24px;
    }
  }
  &.btn--fluid {
    width: 100%;
  }
}

.tab-container {
  min-width: 304px;
  height: 42px;
  border-bottom: 2px solid #e1e7e6;
  margin-bottom: 32px;
  span {
    line-height: 32px;
    font-weight: 400;
    font-family: Alata;
    display: inline-block;
    position: relative;
    cursor: pointer;
    &.active {
      color: #00594c;
      &:after {
        content: "";
        position: absolute;
        bottom: -6px;
        width: 150px;
        height: 2px;
        background-color: #00594c;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
      }
    }
  }
}

.tab-content-container {
  width: 950px;
  margin: auto;
}

.tab-content:not(.active) {
  display: none;
}
.accordion-container {
  padding-top: 8px;
}

.footer {
  background-color: #2ba199;
  border-radius: 0px 48px 0px 0px;
  margin-top: 80px;
  width: 100%;
  height: 260px;
  color: white;
  position: relative;
  padding: 24px;

  &__copy {
    background-color: rgba($color: #ffffff, $alpha: 0.05);
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  &__tagline {
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 88px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 999;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  &.cb{
    width: calc(100% - 288px);
    left: auto;
    right: 0;
    a img{
      width: 90px;
    }
    .container{
      margin-right: auto;
      margin-left: 30px;
    }
  }
  &.scrolling {
    background-color: #f2f8f7;
    a {
      color: #67797d;
      img {
        display: none;
        &.on-scroll {
          display: block;
        }
      }
    }
    .sam-select-language .selected svg path {
      fill: #3d4665;
    }
  }
  a {
    color: white;
    text-decoration: none;
    &:hover {
      color: #67797d;
    }
    img.on-scroll {
      display: none;
    }
  }
  .row {
    width: 100%;
  }
  .list-menu {
    text-align: right;
    .col {
      max-width: -webkit-max-content;
      max-width: -moz-max-content;
      max-width: max-content;
      a {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        display: inline-block;
        white-space: nowrap;
      }
      &:not(:last-child) {
        margin-right: 40px;
      }
    }
  }
}

.cb-filter__tab {
  position: relative;
  margin-bottom: 24px;
  &-title {
    font-family: Lato;
    font-size: 16px;
    line-height: 24px;
    color: #3d4665;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
  }
  .cb-filter__btn {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 8px;
    }
    input {
      display: none;
      &:checked + .cb-label--outline {
        background-color: #67797d;
        color: #f2f8f7;
      }
    }
  }
}

.cb-label {
  position: relative;
  padding: 8px 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 32px;
  background-color: rgba(160, 209, 202, 0.3);
  font-family: Lato;
  font-size: 12px;
  line-height: 16px;
  color: #00594c;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: inline-block;

  &--outline {
    border: 1px solid #67797d;
    background-color: transparent;
    color: #67797d;
  }

  &--dark_green {
    background-color: #00594c;
    color: #ffffff;
  }

  &--gradient {
    background-image: url(../images/bg-label.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 216px;
    height: 56px;
    color: white;
    font-family: Alata !important;
    font-style: normal;
    font-weight: normal;
    font-size: 18px !important;
    line-height: 24px !important;
    border-radius: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  &--color_blue {
    color: #4a85f6;
    background-color: #ddeafe;
  }

  &--color_red {
    color: #c215ff;
    background-color: rgba(194, 21, 255, 0.1);
  }

  &--color_yellow {
    color: #d17600;
    background-color: #fcf2c7;
  }
}

.cb-label-marker {
  width: 32px;
  height: 32px;
  background-image: url(../images/badge-marker.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 8px;

  &__active {
    background-image: url(../images/badge-marker--active.svg);
  }
}

.cb-user {
  margin-bottom: 28px;
  &__avatar {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    border: 1px solid #68c7b8;
    margin-bottom: 14px;
  }
  &__title {
    font-family: Alata;
    font-size: 24px;
    line-height: 32px;
    color: #3d4665;
    margin-bottom: 4px;
  }
  &__subtitle {
    font-family: Lato;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #67797d;
  }
}

.cb-progressbar {
  position: relative;
  width: 100%;
  height: 12px;
  background: rgba($color: #67797d, $alpha: 0.1);
  border-radius: 32px;
  &__parameter {
    position: absolute;
    height: 100%;
    border-radius: 32px;
    background: -o-linear-gradient(315deg, #ffe985 0%, #fa742b 100%);
    background: linear-gradient(135deg, #ffe985 0%, #fa742b 100%);
    left: 0;
    top: 0;
  }
  &__label {
    margin-top: 8px;
    font-family: Lato;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: #67797d;
  }
}

.cb-tab-content {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  &__container {
    position: absolute;
    left: 50%;
    top: 24vh;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  &__img {
    width: 264px;
    display: block;
    margin: auto;
  }
  &__title {
    font-family: Alata;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #165341;
  }

  &__desc {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #67797d;
  }
}

.cb-tab-content#tab_0 {
  display: block;
}

.loc-table-container {
  overflow: hidden;
  border-radius: 12px;
  padding: 0px 16px;
  background-color: white;
  table {
    border-bottom: none !important;

    &.dataTable thead .sorting {
      background-image: url(../images/icon-sort.svg);
      background-repeat: no-repeat;
      background-position: 93% center;
    }
    &.dataTable thead .sorting_asc {
      background-image: url(../images/icon-sort--asc.svg);
      background-repeat: no-repeat;
      background-position: 93% center;
    }
    &.dataTable thead .sorting_desc {
      background-image: url(../images/icon-sort--desc.svg);
      background-repeat: no-repeat;
      background-position: 93% center;
    }
    tr {
      background-color: transparent !important;

      td,
      th {
        background-color: transparent !important;
        height: 54px;
        padding: 0;
        border-bottom: 1px solid #f0f0f0;
        border-top: none !important;
        text-align: left;
        padding: 0 16px;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          right: 0;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          width: 1px;
          height: 24px;
          background-color: #a0d1ca;
        }
        &:last-child {
          &::after {
            display: none;
          }
        }
      }
      th {
        font-family: Alata;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */

        /* Neutral / 700 */

        color: #3d4665;
      }
      td {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #3d4665;
        span {
          font-weight: bold;
        }
        &::after {
          background-color: #f0f0f0;
        }
      }
      &:last-child {
        td {
          border-bottom: none;
        }
      }
    }
  }
  .dataTables_info {
    display: none;
  }
}

.sam-input {
  position: relative;
  width: 100%;
  height: 48px;
  background-color: white;
  border-radius: 32px;
  border: none;
  outline: none !important;

  font-family: Lato;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  color: #67797d;
  padding: 12px 24px;

  &::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 22px;
    color: #67797d;
  }

  &::-moz-placeholder {
    font-size: 14px;
    line-height: 22px;
    color: #67797d;
  }

  &:-ms-input-placeholder {
    font-size: 14px;
    line-height: 22px;
    color: #67797d;
  }

  &::-ms-input-placeholder {
    font-size: 14px;
    line-height: 22px;
    color: #67797d;
  }

  &::placeholder {
    font-size: 14px;
    line-height: 22px;
    color: #67797d;
  }
}

.sam-input-prefix {
  position: relative;
  .icon-input {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 24px;
    height: 24px;
  }
  .sam-input {
    padding-left: 64px;
  }
}

.faq-tab {
  width: 202px;
  padding: 24px 0px 24px 24px;
  background-color: white;
  -webkit-box-shadow: 5px 8px 34px rgba(0, 0, 0, 0.04);
  box-shadow: 5px 8px 34px rgba(0, 0, 0, 0.04);
  border-radius: 8px;

  &__title {
    font-family: Alata;
    font-size: 20px;
    line-height: 28px;
    text-transform: capitalize;
    color: #165341;
    margin-bottom: 24px;
  }

  &__btn {
    position: relative;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #3d4665;
    display: block;

    & + hr {
      width: calc(100% - 32px);
      background: #67797d;
      opacity: 0.1;
      margin: 12px 0;
    }

    &--active {
      font-weight: bold;
      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        background: #40c1ac;
        border-radius: 8px 0px 0px 8px;
        height: 24px;
        width: 4px;
      }
    }
  }
}

.faq-tab-content:not(#tab_1) {
  display: none;
}

.btn-question {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 8px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  background: #f2f8f7;
  border: 1px solid #a0d1ca;
  height: 48px;

  span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #68c7b8;
    border-radius: 8px;
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: white;
    margin-right: 8px;
  }
  p {
    width: 100%;
    overflow: hidden;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #67797d;
    margin: 0;
  }

  &--done {
    span {
      background-color: #3567eb;
    }
  }
  &--active {
    background-color: #40c1ac;
    pointer-events: none;
    p {
      color: white;
    }
  }

  &:hover {
    background-color: #40c1ac38;
  }
}

.btn-answer {
  background: #f2f8f7;
  border-radius: 8px;
  position: relative;
  min-height: 48px;
  padding: 12px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 8px;
    background: #40c1ac;
    border-radius: 8px;
  }

  p,
  span {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #3d4665;
  }
  p{
    margin: 0;
  }
  span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 8px;
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
  }
}
.sam-checkbox {
  margin-bottom: 12px;
  input {
    display: none;

    &:checked + label {
      background: #40c1ac;
      p,
      span {
        color: white;
      }
    }
  }
}

.loc-slide__background {
  width: 100%;
  height: 344px;
  position: absolute;
  bottom: -60px;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/img-bg-slider.png);
  z-index: -1;
}

.sam-select-language {
  position: relative;
  width: 88px;

  .selected {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 8px;
    position: relative;
    cursor: pointer;
    border-radius: 8px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.25);
    }

    .flag {
      input {
        display: none;
      }
      input:checked + img {
        display: block;
      }
      img {
        display: none;
        margin-right: 10px;
        width: 36px;
        height: 24px;
      }
    }
  }
  .select-language__dropdown {
    position: absolute;
    left: 50%;
    top: calc(100% + 12px);
    -webkit-transform: translate(-50%, 12px);
    -ms-transform: translate(-50%, 12px);
    transform: translate(-50%, 12px);
    width: 176px;
    padding: 16px;
    border-radius: 8px;
    background-color: white;
    text-align: left;
    opacity: 0;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    pointer-events: none;

    &::before {
      content: "";
      width: 18px;
      height: 18px;
      background-color: white;
      left: 50%;
      -webkit-transform: translate(-50%) rotate(45deg);
      -ms-transform: translate(-50%) rotate(45deg);
      transform: translate(-50%) rotate(45deg);
      top: -9px;
      position: absolute;
    }
    hr {
      opacity: 0.25;
    }
    label {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      cursor: pointer;
      &:not(:last-child) {
        margin-top: 12px;
        margin-bottom: 24px;
      }
      img {
        display: block;
        width: 36px;
        height: 24px;
        margin-right: 14px;
      }
      span {
        display: block;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #3d4665;
      }
      svg {
        margin-left: auto;
        display: none;
      }

      &.label-language--active {
        svg {
          display: block;
        }
      }
    }
  }

  &.sam-select-language--active {
    .selected > svg {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    .select-language__dropdown {
      opacity: 1;
      pointer-events: auto;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
    }
  }
  .select-language__title {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: #00594c;
    margin-bottom: 8px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1024px;
  }
}

.container--small {
  max-width: calc(872px + (15px * 2));
  margin: auto;
}

.tbl-label {
  &--success {
    color: #40c1ac !important;
  }
  &--warning {
    color: #ed9c00 !important;
  }
  &--danger {
    color: #ff1526 !important;
  }
}

.sw-disclaimer {
  background: #fef3e3;
  border-radius: 8px;
  padding: 12px 24px;
  font-family: Alata;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #d17600;
  margin-bottom: 44px;
  display: inline-block;
}

.info-exam {
  margin-top: 8px;
  img {
    width: 24px;
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
  }
  span {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #3d4665;
    vertical-align: middle;
  }
}

.card-exam {
  padding: 16px 0;
  &__progress {
    width: 216px;
    height: 124px;
    margin: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/YourScore.png);
    position: relative;
    padding-top: 32px;
    .trophy {
      width: 48px;
      display: block;
      position: absolute;
      left: 50%;
      top: -24px;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
    }
    .label {
      font-family: Lato;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      color: #ffffff;
    }
    .score {
      font-family: Alata;
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 44px;
      text-align: center;
      text-transform: capitalize;
      color: #ffffff;
    }
  }
  &__detail {
    max-width: 384px;
    margin: auto;
    margin-top: 24px;
  }
  &__subtitle {
    font-family: Gotham;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #00594c;
    margin-bottom: 4px;
  }
  &__title {
    font-family: Alata;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    text-transform: capitalize;
    color: #3d4665;
    margin-bottom: 12px;
  }
  &__desc {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #67797d;
    margin-bottom: 24px;
  }
  &__action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    .btn:first-child {
      margin-right: 16px;
    }
  }
}

#modalExam .sam-panel {
  max-width: 448px;
}

.operating-hours {
  & > span {
    display: block;
    font-family: Alata;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #3d4665;
    margin-bottom: 8px;
  }
  & > div {
    font-family: Alata;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #67797d;
    vertical-align: middle;
    margin-bottom: 4px;
    img {
      display: inline-block;
      width: 24px;
      margin-right: 8px;
      vertical-align: middle;
    }
    span {
      vertical-align: middle;
    }
  }
}


.notif-info{
  margin: auto;
  img{
    display: inline-block;
    margin-right: 8px;
    width: 24px;
    vertical-align: middle;
  }
  span{
    vertical-align: middle;
    font-family: Alata;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #00594C;
  }
}

.exam-pagination{
  width: 100%;
  text-align: center;
  span{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 20px;
    background: #68C7B8;
    opacity: 0.2;
    &:not(:last-child){
      margin-right: 8px;
    }
    &.exam-pagination--active{
      opacity: 1;
    }
  }
}