.elm-center {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}
.text-center {
  text-align: center;
}

.nl {
  padding-top: 16px;
}

.padding-l-60 {
  padding-left: 60px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-70 {
  margin-top: 70px;
}

.no-padding {
  padding: 0 !important;
}

.elm-fluid {
  width: 100%;
}

.col-9--custom {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 74%;
  flex: 0 0 74%;
  max-width: 78%;
}

.col-3--custom {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 21%;
  flex: 0 0 21%;
  max-width: 21%;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

.bg-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
